@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary: #fafafa;
    --background-primary: #0a0a0a;
  }

html,body {
  background-image: url('../../assets/icons/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
}


/* This is the shadow used in all of our components*/

.custom-shadow {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.50);
}

.custom-bg {
    background: linear-gradient(to bottom, transparent 50%, black 50%);
}


