DOMAIN_NAME=localhost
SERVER_PORT=3001
CLIENT_PORT=3000

SERVER_URL=http://${DOMAIN_NAME}:${SERVER_PORT}
CLIENT_URL=http://${DOMAIN_NAME}:${CLIENT_PORT}

# ------------------------------------------------------- AUTH ------------------------------------------------------- #
JWT_SECRET='vypsKK0TC9XbcQ2t8F6QpzPrWLB5+KrGmMpF4JePYH+vMpzoDiPsRobsS3xZ4di5Y9pX/ZV9cnXkGNgoRUnAwr0w71PK1H66OXIgC1fcD2t
JBcq/L7h5RW/gp5XTWPdlJhvkAu079KXl5Rta4iGuIz5RGBiSljREXM08cM6D9kxke7wZ+tKtG2nGRnOi5WDxdYpATpv5pMXuGdsqbVh2efsABnCIWmRxsS
DTH0dg1zyKfdl9CtZTmpSMdYkgi3WZZpXw/5AUg0FV36XutARrgRGyI6Que0QTFRMU/qWmetuJg/6dfOzQzEeKSShJCoVX0BD37i/3LxcU5y0jzohExA=='

INTRA_CLIENT_ID='<INTRA-ID>'
INTRA_CLIENT_SECRET='<INTRA-SECRET>'
INTRA_CALLBACK_URI=${SERVER_URL}/auth/intra/callback

GOOGLE_CLIENT_ID='<GOOGLE-ID>'
GOOGLE_CLIENT_SECRET='<GOOGLE-SECRET>'
GOOGLE_CALLBACK_URI=${SERVER_URL}/auth/google/callback

GITHUB_CLIENT_ID='<GITHUB-ID>'
GITHUB_CLIENT_SECRET='<GITHUB-SECRET>'
GITHUB_CALLBACK_URI=${SERVER_URL}/auth/github/callback
